.Main {
    padding-top: 20px;
    display: flex;
    flex-flow: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

.Pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
}